
  <h1>Editing Exchange Rate</h1>
  <%= render 'form', favorite_exchange_rate: @favorite_exchange_rate %>
  <%= link_to 'Show', [:admin, @favorite_exchange_rate] %> |
  <%= link_to 'Back', admin_favorite_exchange_rates_path %>
