<div class="container">
  <h1>Editing Exchange Rate</h1>
  <%= render 'form', exchange_rate: @exchange_rate %>
  <%= link_to 'Show', @admin_exchange_rate %> |
  <%= link_to 'Back', admin_exchange_rates_path %>
</div>